body {background-color: floralwhite;
			}

#logo 
{
		width: 300px;

}

#main {text-align: center;}





#one {background-color: yellow;
		padding: 20px;
	margin: 40px;
	width: 30%;
	text-align: center; }

#two {background-color: gold;
		padding: 20px;
	margin: 40px;
	width: 30%;
	align:center; }